# This is an example of the .env file. Copy to .env and fill in your secrets.


# Default LLM interface to use on app launch. Supported options: "chatgpt", "ollama", "openaicompatible", "azureopenai"
DEFAULT_LLM_INTERFACE=chatgpt

# Default LLM interface to use on app launch. Supported options: "default", "low", "medium", "high"
# If you don't know model reasoning capabilities, leave at "default".
# For ollama models that do not support different reasoning levels any level other than "default" will suffice.
DEFAULT_REASONING_EFFORT=default

# Default Threat Modeling Frameworks to be used during the report generation. Can be changed after within the UI.
# Supported options: "STRIDE", "OWASP Top 10 2025", "MITRE ATT&CK", "OWASP TOP 10 for LLM", "MITRE ATLAS", "LINDDUN", "OWASP ML Security Top 10 2023"
DEFAULT_THREAT_MODELS=["STRIDE", "OWASP Top 10 2025", "MITRE ATT&CK", "OWASP TOP 10 for LLM", "MITRE ATLAS", "LINDDUN", "OWASP ML Security Top 10 2023"]

# NOTE! Depending on your usage, if you are planning to use only one LLM vendor, required fields can be filled in ONLY for LLM interface selected above.


# OPENAI CLIENT SECRETS

## Required:
OPENAI_API_KEY=sk-xxxxx

## Optional default values:
OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBEDDINGS_MODEL=text-embedding-3-small
OPENAI_VISION_MODEL=gpt-4o-mini
OPENAI_VALIDATION_MODEL=gpt-4o-mini



# OLLAMA CLIENT SECRETS

## Required:
OLLAMA_HOST=http://localhost:11434

## Optional default values:
OLLAMA_MODEL=llama3.2
OLLAMA_EMBEDDINGS_MODEL=mxbai-embed-large
OLLAMA_VISION_MODEL=llava
OLLAMA_VALIDATION_MODEL=llama3.2



# Azure OpenAI CLIENT SECRETS

## Required
AZURE_OPENAI_API_KEY=xxxxxx
AZURE_OPENAI_ENDPOINT=xxxxxx
AZURE_OPENAI_API_VERSION=2024-06-01

## Optional default values:
AZURE_OPENAI_MODEL=xxxxxx
AZURE_OPENAI_EMBEDDINGS_MODEL=xxxxxx
AZURE_OPENAI_VISION_MODEL=xxxxxx
AZURE_OPENAI_VALIDATION_MODEL=xxxxxx



# OpenAI API compatible server CLIENT SECRETS

## Required
## NOTE!!! Almost all OpenAI compatible APIs have /v1 at the end of base url!
THIRD_PARTY_HOST=xxxxxx

## Optionally required to be filled with anything for some servers or vendors
THIRD_PARTY_API_KEY=ollama

## Optional default values:
THIRD_PARTY_MODEL=xxxxxx
THIRD_PARTY_EMBEDDINGS_MODEL=xxxxxx
THIRD_PARTY_VISION_MODEL=xxxxxx
THIRD_PARTY_VALIDATION_MODEL=xxxxxx